body {
    background-color: black;
    margin-left: 10%;
    margin-top: 10%;
}

.titre {
    color: aliceblue;
}

.title1 {
    color: aliceblue;
}

.select {
    width: 40px;
}

.result {
    color: aliceblue;
}

button {
   background-color: #00CCAB;
   color: black; 
   width: 150px;
   height: 40px;
   border-radius: 10pt;
   margin-top: 20px;

}